h1 {
  color: blue;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
}

p {
  color: brown;
  text-align: justify;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
